.container .logo {
  color: #ffa6a6;
  text-decoration: none;
  margin: 0 20px 0 0;
  padding: 0.5rem;
  width: 13%;
}
.container a {
  font-size: larger;
}
.container img {
  width: 100%;
}

.btn-secondary {
  color: #fff;
  border-color: #6c757d;
  background-color: transparent;
  margin: 0 10px 0 10px;
}

.card-auth {
  width: 550px;
  display: flex;
  align-items: center;
  margin: 100px 0 0 0;
}
.card-auth form {
  width: 100%;
}

.btn-auth {
  color: #222222;
  border-color: #6c757d;
  background-color: transparent;
  margin: 0 0 0 10px;
  width: 70%;
}

.wrapper-auth {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-auth-button {
  margin: 10px 0 10px 0;
}
.wrapper-auth-button a {
  text-decoration: none;
  font-size: medium;
}

.list-group div {
  margin: 5px 0 5px 0;
  border-radius: 5px;
  background-color: #494949;
  color: #ffffff;
  cursor: pointer;
}

.list-group-item.active {
  background-color: #7d7d7d;
}

.list-group {
  margin: 30px 0 0 0;
}

.brand {
  margin: 30px 0 0 0;
}

.brand div {
  margin: 5px 0 5px 0;
}

.brandAndType {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.listOfDevices {
  display: flex;
  margin: 34px 0 0 50px;
}

.device card {
  display: flex;
  margin: 0 20px 20px 20px;
}

.m-auto {
  margin: 0 auto;
}

.bg-dark {
  background-color: #222222 !important;
}

.product-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 426px;
  margin: 0 auto;
  background: white;
  padding: 0 0 20px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
}

.product-item {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.product-wrap img {
  display: block;
  width: 65%;
}

.product-buttons {
  position: absolute;
  left: 41px;
  top: 0px;
  width: 80%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.button {
  text-decoration: none;
  color: #c0a97a;
  font-size: 12px;
  width: 140px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid #c0a97a;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s ease-in-out;
}

.product-item:hover .product-buttons {
  opacity: 1;
}

.product-item:hover .button {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%) scale(1);
  font-size: x-large;
  border-radius: 5px;
  text-align: center;
  background-color: #686868;
}

.product-title {
  color: #5e5e5e;
}
.product-title h5 {
  margin: 10px 0 0 0;
}

.product-title h5 {
  cursor: pointer;
  text-decoration: none;
  color: #2e2e2e;
  font-weight: 600;
  margin: 15px 0 5px;
  padding-bottom: 7px;
  display: block;
  position: relative;
  transition: 0.3s ease-in-out;
}

.product-title h5:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background: #2e2e2e;
  left: 28%;
  margin-left: -20px;
  bottom: 0;
  transition: 0.3s ease-in-out;
}

.product-title h5:hover {
  color: #c0a97a;
}

.product-title:hover h5:after {
  background: #c0a97a;
}

.product-price {
  cursor: pointer;
  font-size: 20px;
  color: #c0a97a;
  font-weight: 700;
}

.device_modal {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 35px 0 0 0;
}
.device_modal img {
  height: 350px;
}

.cart_button {
  color: #2e2e2e;
  width: 13rem;
}

.img_div {
  width: 30%;
  border-right: 1px solid #2e2e2e;
}

.more_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-right: 1px solid #2e2e2e;
  height: 350px;
  width: 30%;
}

.buttonToCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 20%;
}

/*# sourceMappingURL=App.css.map */
